body {
    height: 100vh;
    font-family: "ＭＳ Ｐゴシック";
    font-smooth: never;
    -webkit-font-smoothing : none;
    margin: 0;
    padding: 0;
    background-color: #000000;
    /* overflow: hidden; */
}

main {
    height: 100%;
    margin: 0 50px;
}

main h2 {
    border-bottom: 1px solid rgb(211, 0, 105);;
    padding-bottom: 10px;
}

#downloads {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #000000;
}

#downloads a {
    display: inline-block;
    padding: 10px 20px;
    color: #000000;
    background-color: rgb(211, 0, 105);
    opacity: 0.75;
    text-decoration: none;
    margin: 20px auto;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

#downloads a:hover {
    background-color: #000000;
    color: rgb(226, 27, 120);
    opacity: 0.75;
}

.download-container, .game-container {
    /* flex: 1; */
    margin-top: 50px;
}

.download-container{
    margin-right: 0px;
    margin-left: 0px;
    /* background-color: white; */
    width: 300px;
}

.game-container{
    margin-left: 0;
    border: 0.5vw solid rgb(226, 27, 120, 0.75);
    /* background-color: blue; */
}

footer {
    background-color: #000000;
    color: rgb(226, 27, 120);
    opacity: 0.75;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.wrap {
    display: block;
}

.rr3{
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    color: rgb(226, 27, 120, 0.75);
    font-weight: bolder;
}

.rr4{
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    color: rgb(226, 27, 120, 0.75);
    font-style: bold;
}

#videos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4vw;
    /* border: 0.5vw solid rgb(226, 27, 120, 0.75); */
}

#goback{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 90;
}

#goback a{
    display: inline-block;
    padding: 10px 20px;
    color: #000000;
    background-color: rgb(211, 0, 105);
    opacity: 0.75;
    text-decoration: none;
    margin: auto auto;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

#goback a:hover{
    background-color: #000000;
    color: rgb(226, 27, 120);
    opacity: 0.75;
}